@font-face {
  font-family: 'DM Serif Display';
  src: url(./assets/Fonts/DMSerifDisplay-Regular.woff2);
}

@font-face {
  font-family: 'Open Sans';
  src: url(./assets/Fonts/OpenSans-VariableFont.woff2);
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/Fonts/InterVariable.woff2);
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Inter';
}

title {
  text-transform: capitalize;
}

.img-contains {
  object-fit: contain;
}

.img-cover {
  object-fit: cover;
}

.custom-btn {
  font-size: 14px !important;
  min-width: 100px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-view-content {
  display: block !important;
  left: 0px !important;
  transition: 1.2s;
  opacity: 1 !important;
}

.hover-view-content-leave {
  display: none !important;
  left: -400px !important;
  transition: 1.2s;
  opacity: 0 !important;
}
