@font-face {
  font-family: 'DM Serif Display';
  src: url(./assets/Fonts/DMSerifDisplay-Regular.woff2);
}

@font-face {
  font-family: 'Open Sans';
  src: url(./assets/Fonts/OpenSans-VariableFont.woff2);
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/Fonts/InterVariable.woff2);
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Inter';
}

title {
  text-transform: capitalize;
}

.img-contains {
  object-fit: contain;
}

.img-cover {
  object-fit: cover;
}

.custom-btn {
  font-size: 14px !important;
  min-width: 100px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-content {
  transition: 0.8s;
}

.hover-testimonial:hover .hover-content {
  left: 0px !important;
  opacity: 1 !important;
  z-index: 1 !important;
}

.deliveryCardContainerTag,
.deliveryCardLayout {
  transition: 0.8s;
}

.deliveryCardContainerTitle {
  opacity: 1;
  transition: 0.8s;
}

.deliveryCardContainer:hover .deliveryCardContainerTag {
  top: -90px !important;
  opacity: 1 !important;
}

.deliveryCardContainer:hover .deliveryCardContainerTitle {
  opacity: 0;
  padding-top: 0% !important;
}

.deliveryCardContainer:hover .deliveryCardLayout {
  background: none !important;
}

.hover_button:hover {
  min-width: 360px !important;
}

.slow-transition {
  transition: 0.8s ease-in-out !important;
}

.slider {
  width: 100vw;
  height: 100%;
  position: relative;
}

.slider .slide {
  animation: slide 10s infinite;
}

@keyframes slide {
  0%,
  15%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}
